<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partial/head"></head>
<body>
<div th:include="partial/navBar"></div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <h3>Prelievi</h3>
        <div class="col-12 col-md-6">
            <form method="post" action="/prelievo" class="border rounded border-primary-subtle p-3">

                <div class="form-group">
                    <label for="ibanMittente">Iban</label>
                    <select type="text" class="form-control" id="ibanMittente"
                            name="iban" required>
                        <option value="">Imposta conto</option>
                        <option th:each="conto : ${conti}" th:value="${conto.iban}" th:data-saldo="${conto.saldo}"
                                th:text="${conto.cliente.nome + ' ' + conto.cliente.cognome + ' (' + conto.iban + ')'}"></option>
                    </select>
                </div>
                <label class="mt-2" for="importo">Importo</label>
                <input type="number" class="form-control" id="importo" name="importo" placeholder="Inserisci l'importo" required>
                <button type="submit" class="btn btn-primary bottone mt-2">Preleva</button>
            </form>

        </div>
        <div class="col-12 col-md-6">
            <div th:each="prelievo:${prelievi}" class="w-100">
                <div class="dropdown bottone m-1 w-75">
                    <button th:text="${prelievo.nome + ' '+ prelievo.cognome+' '+'---'+'$'+' '+ prelievo.importo   +'-->'}"
                            class="btn btn-outline-secondary importo-format w-75 text-start" type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">

                            <p class="text-decoration-underline">Destinatario</p>
                            <p th:text="${prelievo.iban}"></p>
                            <p class="pb-4 mb-4 border-bottom border-primary" style="--bs-border-opacity: .5;"
                               th:text="${prelievo.nome + ' '+ prelievo.cognome}"></p>

                            <p class="text-decoration-underline">Importo</p>
                            <h3 class="pb-4 mb-4 border-bottom border-primary importo-format"
                                style="--bs-border-opacity: .5;"
                                th:text="${'$' +' ' +prelievo.importo}"></h3>

                            <p class="text-decoration-underline">Data e ora</p>
                            <p class="pb-4 mb-4 border-bottom border-primary" style="--bs-border-opacity: .5;"
                               th:text="${prelievo.dataOra}"></p>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
function formatNumber(num) {
    if (!isNaN(num)) {
        return num.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
    }
    return num; // restituisce il valore invariato se non è un numero
}
document.addEventListener("DOMContentLoaded", function() {
    // Formatta gli importi visualizzati nei bottoni
    var importoElements = document.querySelectorAll('.importo-format');
    importoElements.forEach(function(importoElement) {
        var amountText = importoElement.textContent;
        var amountValueMatches = amountText.match(/\$ (\d+(\.\d+)?)/); // estrae l'importo dalla stringa
        if (amountValueMatches && amountValueMatches[1]) {
            var amountValue = parseFloat(amountValueMatches[1]);
            importoElement.textContent = amountText.replace("$ " + amountValue, "$ " + formatNumber(amountValue));
        }
    });

    // Aggiorna il placeholder dell'importo in base al saldo del conto selezionato
    var ibanMittente = document.getElementById("ibanMittente");
    ibanMittente.addEventListener("change", function() {
        var selectedOption = ibanMittente.options[ibanMittente.selectedIndex];
        var saldo = parseFloat(selectedOption.getAttribute("data-saldo"));
        var importo = document.getElementById("importo");
        if (!isNaN(saldo)) {
            importo.setAttribute("placeholder", formatNumber(saldo));
        } else {
            importo.setAttribute("placeholder", "Inserisci l'importo");
        }
    });
});


</script>
</body>
</html>